<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Numbers</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Hello there! Welcome to random number generator!</h1>
    <h2>How many numbers do you wish to generate?</h2>
    <form method="post" data-th-action="@{/random}">
        <input type="number" id="numInput" name="numInput">
        <button type="submit">Generate</button>
    </form>
</body>
</html>