<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Numbers</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Hello there! Welcome to random number generator!</h1>
    <div class="container">
        <img class="image" data-th-src="@{${'./images/numbers/number'+ randomnum +'.jpg'}}" alt="number image">

        <!-- Alternative method -->
        <!-- <img data-th-src="${imgUrl}" class="pic"> -->
    </div>
</body>
</html>

<!-- Hosted on: -->
<!-- https://thoughtful-square-production.up.railway.app/ -->