<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" 
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
		crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1>Page C - Display HttpSession Data</h1>
        <hr>
        <br>
        <p>HttpSession data value is </p>
        <p data-th-text="${fullname}"></p>
        <br>
        <!-- Hyperlink is a GET request actually -->
        <a class="btn btn-primary rounded-pill mt-3 px-4 py-2" data-th-href="@{/home/page0}">Go to Page A</a>
    </div>
</body>
</html>